* {
    box-sizing: border-box;
}

h1 {
    font-family: Helvetica, sans-serif;
}

h1 {
    background-color: black;
    color: seashell;
    opacity: 0.9;
    height: 69px;
    border-bottom: 1px solid seashell;
    padding-left: 10px;
    display: inline-block;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0px;
}

img1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
