* {
    box-sizing: border-box;
}

h1 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color: darkgreen;
}

body {
    background-color: darkgreen;
}
    
img1 {
    text-align: center;
}
